body{
    background-color: rgb(29, 29, 29);
}


.row-contents{
    margin:50px;
     height: 100px;
}
.row-content{
    padding-bottom:40px;
}
.buttons{
    border-radius: 100%;
    border:none;
    width:60px;
    height: 50px;
}
.buttonss{
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border:none;
    width:65%;
    height: 50px;
}
#result{
    color:white;
}
.operators{
    background-color: orange;
}
.numbers{
    background-color:rgb(71, 71, 71);
    }
.bottons .buttonss{
    cursor: pointer;
}
.buttons:focus, .buttonss:focus{
    outline: 0;
}
#result{
    position: relative;
}
#result-value{
    font-size: 50px;
    position: absolute;
    right:15%;
    top:15px;
    
} 
#history-value{
    font-size: 20px;
    position: absolute;
    right:15%;
    top:15px;
    color:#fff;

}